<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentalapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ScreenRentalList" />
        <activity android:name=".ui.UserType" />
        <activity android:name=".ui.DisplayHouses" />
        <activity android:name=".ui.ScreenPayment" />
        <activity android:name=".ui.ScreenCreateAd" />
        <activity android:name=".ui.DisplayRooms" />
        <activity android:name=".ui.DisplayApartment" />
        <activity android:name=".ui.SelectionFilterScreenH" />
        <activity android:name=".ui.SelectionFilterScreenAP" />
        <activity android:name=".ui.SelectionFilterScreenR" />
        <activity android:name=".ui.SelectionScreen" />
        <activity android:name=".ui.ScreenNewUser" />
        <activity android:name=".ui.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>